{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="profile-container">
    <form method="post" enctype="multipart/form-data" class="d-flex form-profile">
        {% csrf_token %}
        <div class="avatar-upload">
            <label for="id_image" class="avatar-edit">
                {% if user.image %}
                    <img src="{{ user.image.url }}" class="avatar-preview" id="avatar-preview">
                {% else %}
                    <img src="{% static 'images/Bez_foto.jpg' %}" class="avatar-preview" id="avatar-preview">
                {% endif %}
            </label>
            <input type="file" name="image" accept="image/*" id="id_image" style="display: none;">
        </div>
        <div class="elements">
            <h2 class="">{{user.username}}</h2>
            <button type="submit" class="save-btn">Сохранить</button>
        </div>
        <div class="add-post">+ пост</div>
    </form>
</div>


<script>
document.getElementById('id_image').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('avatar-preview').src = e.target.result;
        }
        reader.readAsDataURL(file);
    }
});
</script>
{% endblock %}