@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Supermercado+One&display=swap');

body {
    font-family: "Supermercado One", sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.registration {
    width: 200px;
}
.forma {
    width: 100%;
}
.register-btn {
    border-radius: 20px;
    border:none;
    background-color: rgb(233, 223, 209);
}
h2 {
    text-align: center;
}