{% load static %}
<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.min.css' %}">
    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="container-fluid h-100">
        <div class="h-100 row base">
            <div class="row base-1 h-100  col-md-1-5">
                <nav class=" sidebar d-flex h-100 position-fixed">
                    <ul class="nav flex-column h-100 ">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Сообщения</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Профиль</a>
                        </li>
                        <li class="nav-item mt-auto mb-4">
                            <a class="nav-link" href="{% url "user:logout" %}">Выход</a>
                        </li>
                    </ul>
                    
                </nav>
            </div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block content %}
                {% endblock content %}
            </main>
        </div>
        
    </div>
</body>
</html>